  <div class="container">
	<div class="row">		
<!-- Mixins-->

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h3 class="title">Login</h3>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div *ngIf="showError" id="login-alert" class="alert alert-danger text-center">
                    {{errorMessage}}</div>
      <div class="input-container">
        <input type="text" id="login-username" formControlName="userName" required="required"/>
        <label for="login-username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="login-password" formControlName="password" required="required"/>
        <label for="login-password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button type="submit" [disabled]="!signInForm.valid"><span>Login</span></button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
    </form>
  </div>
  <div class="card alt">
    <div (click)="toggle()" class="toggle"></div>
    <h1 class="title">Register
      <div (click)="close()" class="close"></div>
    </h1>
    <form  [formGroup]="signInForm">
      <div class="input-container">
        <input type="text" id="Username" required="required"/>
        <label for="Username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Password" required="required"/>
        <label for="Password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password" id="Repeat Password" required="required"/>
        <label for="Repeat Password">Repeat Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button><span>Next</span></button>
      </div>
    </form>
  </div>
</div>
	</div>
</div>