/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    color: #566787;
    background: #f5f5f6;
    font-size: 13px;
}