<form [formGroup]="uypForm" class="form-horizontal" (ngSubmit)="saveUYPForm()">
    <div class="form-group">
        <label for="yarnTypeId" class="col-sm-3 control-label">Yarn Type</label>
        <div class="col-sm-7">
            <select id="yarnTypeId" formControlName="yarnTypeId" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
        </div>
      </div>
      <div class="form-group">
          <label for="yarnCountId" class="col-sm-3 control-label">Count</label>
          <div class="col-sm-7">
              <select id="yarnCountId" formControlName="yarnCountId" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
          </div>
        </div>
        <div class="form-group">
            <label for="supplierId" class="col-sm-3 control-label">Supplier</label>
            <div class="col-sm-7">
                <select id="supplierId" formControlName="supplierId" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
              <label for="purchaseDate" class="col-sm-3 control-label">Purchase Date</label>
              <div class="col-sm-7">
                <div class=" input-group date">
                <input class="form-control" id="purchaseDate" #purchaseDate="bsDatepicker" formControlName="purchaseDate" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
                    <span  (click)="purchaseDate.show()" class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>              
                  </div>
                  </div>
            </div>
  <div class="form-group">
    <label for="quantity" class="col-sm-3 control-label">Quantity</label>
    <div class="col-sm-7">
      <input type="number" class="form-control" id="quantity" formControlName="quantity" placeholder="Quantity In KG">
    </div>
  </div>
  <div class="modal-footer">
    <input type="button"  class="btn btn-default" data-dismiss="modal" value="Cancel">
    <input type="submit"  class="btn btn-success" value="Save">
  </div>

</form>