<form [formGroup]="uydForm" class="form-horizontal" (ngSubmit)="saveUYDForm()">
  <div formGroupName="yarnType">
    <div class="form-group">
      <label for="yarnTypeId" class="col-sm-3 control-label">Yarn Type</label>
      <div class="col-sm-7">
          <select id="yarnTypeId" formControlName="yarnTypeId" class="form-control">
              <option value="0">Select Yarn Type</option>
              <option *ngFor="let yarnType of yarnTypeArray" value="{{yarnType.yarnTypeId}}">{{yarnType.yarnType}}</option>
            </select>
      </div>
    </div>
  </div>
      <div formGroupName="count">
        <div class="form-group">
          <label for="yarnTypeId" class="col-sm-3 control-label">Count</label>
          <div class="col-sm-7">
              <select id="countId" formControlName="countId" class="form-control">
                  <option value="0">Select Count</option>
                  <option *ngFor="let count of countArray" value="{{count.countId}}">{{count.count}}</option>
                </select>
          </div>
        </div>
      </div>
          <div class="form-group">
              <label for="purchaseDate" class="col-sm-3 control-label">Purchase Date</label>
              <div class="col-sm-7">
                <div class=" input-group date">
                <input class="form-control" id="purchaseDate" #purchaseDate="bsDatepicker" formControlName="purchaseDate" bsDatepicker [bsConfig]="{ containerClass: 'theme-blue', dateInputFormat: 'YYYY-MM-DD' }">
                    <span  (click)="purchaseDate.show()" class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>              
                  </div>
                  </div>
            </div>
  <div class="form-group">
    <label for="quantity" class="col-sm-3 control-label">Quantity</label>
    <div class="col-sm-7">
      <input type="number" class="form-control" id="quantity" formControlName="quantity" placeholder="Quantity In KG">
    </div>
  </div>
  <div class="form-group">
    <label for="dyeingDeliveryChallanNo" class="col-sm-3 control-label">Dyeing Delivery Challan No</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="dyeingDeliveryChallanNo" formControlName="dyeingDeliveryChallanNo">
    </div>
  </div>
  <div class="modal-footer">
    <input type="button"  class="btn btn-default" data-dismiss="modal" value="Cancel">
    <input type="submit"  class="btn btn-success" value="Save">
  </div>

</form>