<!-- <div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <div class="icon-addon addon-md">
          <input type="text" placeholder="Search" class="form-control" [(ngModel)]="search" id="search">
          <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5">
          <h2>Manage
            <b>Dyeing Order</b>
          </h2>
        </div>
        <div class="col-sm-4">
            <div class="icon-addon addon-md">
              <input type="text" placeholder="Search" class="form-control" [(ngModel)]="search" id="search">
              <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
            </div>
        </div>
        <div class="col-sm-3">
          <a href="#dyeingOrderModal" (click)="addDyeingOrder()" class="btn btn-success" data-toggle="modal">
            <i class="material-icons">&#xE147;</i>
            <span>Add New</span>
          </a>
          <a href="#deleteDOModal" (click)="deleteDOByIds()" class="btn btn-danger" data-toggle="modal">
            <i class="material-icons">&#xE15C;</i>
            <span>Delete</span>
          </a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input (click)="selectAllRecord(selectAll)" type="checkbox" id="selectAll" #selectAll>
              <label for="selectAll"></label>
            </span>
          </th>
          <th (click)="sort('dyeingOrderNo')">Dyeing Order No
            <span class="glyphicon sort-icon" *ngIf="key =='dyeingOrderNo'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('orderDate')">Order Date 
            <span class="glyphicon sort-icon" *ngIf="key =='orderDate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('shadeNo')">Shade No
            <span class="glyphicon sort-icon" *ngIf="key =='shadeNo'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('shadeColour')">Shade Colour
            <span class="glyphicon sort-icon" *ngIf="key =='shadeColour'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('count')">Count
            <span class="glyphicon sort-icon" *ngIf="key =='count'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('description')">Description
            <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('quantity')">Quantity
            <span class="glyphicon sort-icon" *ngIf="key =='quantity'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('customer')">Customer
            <span class="glyphicon sort-icon" *ngIf="key =='customer'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let do of dyeigOrderView | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 10, currentPage: page }">
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" (click)="selectRecord($event,do.dyeingOrderId)" id="checkbox{{do.dyeingOrderId}}" name="options[]" value="{{do.dyeingOrderId}}">
              <label for="checkbox{{do.dyeingOrderId}}"></label>
            </span>
          </td>
          <td>
            {{do.dyeingOrderNo}}
          </td>
          <td>
            {{do.orderDate | date:'mediumDate'}}
          </td>
          <td>
            {{do.shade.shadeNo}}
          </td>
          <td>
            {{do.shade.shadeColour}}
          </td>
          <td>
            {{do.count.count}}
          </td>
          <td>
            {{do.description}}
          </td>
          <td>
            {{do.quantity}}
          </td>
          <td>
            {{do.customer}}
          </td>
          <td>
            <a routerLink ="/receivedDyeingOrderView" (click)="editDyeingOrder(do)" class="edit">
              <i class="material-icons" data-toggle="tooltip" tooltip="Edit">&#xE254;</i>
            </a>
            <a href="#deleteDOModal" (click)="deleteDOById(do.dyeingOrderId)" class="delete" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" tooltip="Delete">&#xE872;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="clearfix">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>    
  </div>
<!--Add Modal-->
  <div id="dyeingOrderModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Add Record</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <app-dyeing-order></app-dyeing-order>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteDOModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Record</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="button" (click)="deleteDyeingOrder()" class="btn btn-danger" value="Delete">
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Alert Modal HTML -->
    <div id="deleteAlertModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Record</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Delete Not Allowed!</p>
            <p class="text-warning">
              <small>Delete the received order details before removing the order</small>
            </p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="OKAY">
            </div>
        </div>
      </div>
    </div>
</div>