<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <div class="icon-addon addon-lg">
          <input type="text" placeholder="Search" class="form-control" [(ngModel)]="search" id="search">
          <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage
            <b>Dyeing Order</b>
          </h2>
        </div>
        <div class="col-sm-6">
          <a href="#addDyeingOrderModal" (click)="addDyeingOrder()" class="btn btn-success" data-toggle="modal">
            <i class="material-icons">&#xE147;</i>
            <span>Add New</span>
          </a>
          <a href="#deleteUYPModal" (click)="deleteDOByIds()" class="btn btn-danger" data-toggle="modal">
            <i class="material-icons">&#xE15C;</i>
            <span>Delete</span>
          </a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input (click)="selectAllRecord(selectAll)" type="checkbox" id="selectAll" #selectAll>
              <label for="selectAll"></label>
            </span>
          </th>
          <th (click)="sort('dyeingOrderNo')">Dyeing Order No
            <span class="glyphicon sort-icon" *ngIf="key =='dyeingOrderNo'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('orderDate')">Order Date 
            <span class="glyphicon sort-icon" *ngIf="key =='orderDate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('shadeNo')">Shade No
            <span class="glyphicon sort-icon" *ngIf="key =='shadeNo'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('shadeColour')">Shade Colour
            <span class="glyphicon sort-icon" *ngIf="key =='shadeColour'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('countId')">Count
            <span class="glyphicon sort-icon" *ngIf="key =='countId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('description')">Description
            <span class="glyphicon sort-icon" *ngIf="key =='description'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('quantity')">Quantity
            <span class="glyphicon sort-icon" *ngIf="key =='quantity'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('customer')">Customer
            <span class="glyphicon sort-icon" *ngIf="key =='customer'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let do of dyeigOrderView | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" (click)="selectRecord($event,do.dyeingOrderId)" id="checkbox{{do.dyeingOrderId}}" name="options[]" value="{{do.dyeingOrderId}}">
              <label for="checkbox{{do.dyeingOrderId}}"></label>
            </span>
          </td>
          <td>
            {{do.dyeingOrderNo}}
          </td>
          <td>
            {{do.orderDate | date:'mediumDate'}}
          </td>
          <td>
            {{do.shade.shadeNo}}
          </td>
          <td>
            {{do.shade.shadeColour}}
          </td>
          <td>
            {{do.countId}}
          </td>
          <td>
            {{do.description}}
          </td>
          <td>
            {{do.quantity}}
          </td>
          <td>
            {{do.customer}}
          </td>
          <td>
            <a href="#addDyeingOrderModal" (click)="editDyeingOrder(do.dyeingOrderId)" class="edit" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" tooltip="Edit">&#xE254;</i>
            </a>
            <a href="#deleteUYPModal" (click)="deleteDOById(do.dyeingOrderId)" class="delete" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" tooltip="Delete">&#xE872;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="clearfix">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>