<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <div class="icon-addon addon-lg">
          <input type="text" placeholder="Search" class="form-control" [(ngModel)]="search" id="search">
          <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage
            <b>Undyed Yarn To Pruchase</b>
          </h2>
        </div>
        <div class="col-sm-6">
          <a href="#addEditUYPModal" (click)="addUYP()" class="btn btn-success" data-toggle="modal">
            <i class="material-icons">&#xE147;</i>
            <span>Add New</span>
          </a>
          <a href="#deleteUYPModal" (click)="deleteUYPByIds()" class="btn btn-danger" data-toggle="modal">
            <i class="material-icons">&#xE15C;</i>
            <span>Delete</span>
          </a>
        </div>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input (click)="selectAllRecord(selectAll)" type="checkbox" id="selectAll" #selectAll>
              <label for="selectAll"></label>
            </span>
          </th>
          <th (click)="sort('yarnTypeId')">Yarn Type
            <span class="glyphicon sort-icon" *ngIf="key =='yarnTypeId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('yarnCountId')">Count
            <span class="glyphicon sort-icon" *ngIf="key =='yarnCountId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('supplierId')">Supplier
            <span class="glyphicon sort-icon" *ngIf="key =='supplierId'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('purchaseDate')">Purchase Date
            <span class="glyphicon sort-icon" *ngIf="key =='purchaseDate'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th (click)="sort('quantity')">Quantity
            <span class="glyphicon sort-icon" *ngIf="key =='quantity'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uyp of uypView | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" (click)="selectRecord($event,uyp.uypId)" id="checkbox{{uyp.uypId}}" name="options[]" value="{{uyp.uypId}}">
              <label for="checkbox{{uyp.uypId}}"></label>
            </span>
          </td>
          <td>
            {{uyp.yarnType.yarnType}}
          </td>
          <td>
            {{uyp.count.count}}
          </td>
          <td>
            {{uyp.supplier}}
          </td>
          <td>
            {{uyp.purchaseDate | date:'mediumDate'}}
          </td>
          <td>
            {{uyp.quantity}}
          </td>
          <td>
            <a href="#addEditUYPModal" (click)="editUYP(uyp.uypId)" class="edit" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" tooltip="Edit">&#xE254;</i>
            </a>
            <a href="#deleteUYPModal" (click)="deleteUYPById(uyp.uypId)" class="delete" data-toggle="modal">
              <i class="material-icons" data-toggle="tooltip" tooltip="Delete">&#xE872;</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="clearfix">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div id="addEditUYPModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">{{formType}} Record</h4>
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <app-undyed-yarn-purchase></app-undyed-yarn-purchase>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteUYPModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Record</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete these Records?</p>
            <p class="text-warning">
              <small>This action cannot be undone.</small>
            </p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="button" (click)="deleteUYP()" class="btn btn-danger" value="Delete">
          </div>
        </div>
      </div>
    </div>
  </div>